{{ define "main" }}

<h1 class="title">{{ .Title }}</h1>
<div class="info">
    <ul class="flat-list">
        <li>created on {{ .Date.Format "Jan. 2, 2006" }}</li>
        <li>{{ .WordCount }} words</li>
        <li>{{ div .WordCount 130 }} min long</li>
    </ul>
</div>

<article>
    {{ .Content }}
</article>

<div>
    {{ with .PrevInSection }}
        Previous: <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
    {{ end }}
    {{ with .NextInSection }}
        Next: <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
    {{ end }}
</div>

{{ end }}