/* Overrides for blog post titles */
.blog-post-header .post-title {
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
}

.blog-post-header .post-title a {
    text-decoration: none;
    color: #000;
}

.blog-post-header .post-title a:hover {
    color: #500bff;
    text-decoration: underline;
}

.blog-post-header .date {
    font-size: 0.9rem;
    color: #7c7c7c;
    margin-bottom: 1.5rem;
    font-family: "Courier New", Courier, monospace;
}