{{ define "main" }}
<h1 class="title">{{ .Title }}</h1>

<article>
    {{ .Content }}
</article>

{{ $reflections := where .Pages "Params.category" "reflections" }}
{{ $notes := where .Pages "Params.category" "notes" }}

{{ if $reflections }}
<h2 class="category-header">Reflections</h2>
<div class="blog-list">
    {{ range $reflections }}
    <div class="blog-post-header">
        <h3 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <div class="date">{{ .Date.Format "January 02, 2006" }}</div>
    </div>
    {{ end }}
</div>
{{ end }}

{{ if $notes }}
<h2 class="category-header">Notes</h2>
<div class="blog-list">
    {{ range $notes }}
    <div class="blog-post-header">
        <h3 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <div class="date">{{ .Date.Format "January 02, 2006" }}</div>
    </div>
    {{ end }}
</div>
{{ end }}
{{ end }}